<% @page_title = "About" %>
<h2>What is Ouch?</h2>
<p>Ouch is an easy way to make hazard assessments for a workplace.</p>
<p>Many companies need to identify the hazards their employees are exposed to while on the job. Ouch puts this ability your hands. Anyone can see the dangers of a workplace, whether it's their own, a friends, or a place they are visiting.</p>
<h2>How Does it Work?</h2>
<h3>Explore Assessments</h3>
<p>Hazards are broken into Assessments. Assessments are for specific workplaces, industry sectors or jobs. You can see and learn from what other people have added.</p>
<h3>Create Assessments</h3>
<p>Signup and start making your own assessment for the work you do. Companies and employess can create an assessement that describes their workplace.</p>
<h3>Mobile and Desktop Friendly</h3>
<p>Ouch is a mobile app, you can use it anywhere. Start an assessment from your phone and finish it from your desktop.</p>
<h2>Using Ouch</h2>
<p>Right now Ouch is free and we will try to keep the basic ability to create at least 1 assessment this way. We will be expanding Ouch as we get feedback.</p>
<p>Since it's free, we have limited resources. We hope to upgrade soon to make it faster and create bigger assessments.</p>
<p>Thanks for using Ouch!</p>
