<p>
  <strong>Content:</strong>
  <%= @needed_control.content %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @needed_control.completed %>
</p>
<%= link_to 'Edit', edit_assessment_hazard_needed_control_path(@assessment, @hazard, @needed_control) %>
