/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/* imports for bootstrap 
 * "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
*/
@import "bootstrap-sprockets";
@import "bootstrap";

/* Header/Nav styles */

.navbar-default {
  background-color: #EEEEEE; /* #607D8B */
}

.navbar {
  margin-bottom: 0px;
  border: 0;
  border-radius: 0;
}

.sub-header {
  background: #FAFAFA;
  min-height: 3em;
}

/* home page */
.bigtime {
  font-size: 60px;
}

.home-callout {
  margin: 120px 0;
}

.home-callout .lead {
  font-size: 130%;
}

/* alerts and notices */
.alert, .notice {
  padding: 0;
  margin-bottom: 0;
  border: 0px solid transparent;
  border-radius: 0;
}

/* list groups styles */

.list-group-item {
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-left: 0;
}

.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0;
}

.list-group {
  margin-bottom: 80px;
  margin-top: 40px;
  border-radius: 0;
}